<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    
</head>
<body style="background-color: aqua;">
    <!-- <h1> Hello Pallavi</h1>  -->
    <h1> Welcome, <%= fname%> </h1>   
    <h1>  <%= lname%> </h1>   
    <h1> <%= contact%> </h1>   
    <h1>  <%= age%> </h1>   
    <h1>  <%= email%> </h1>   
    <h1>  <%= password%> </h1>   
</body>
</html>
